div{
   display: flex;
   flex-wrap: wrap;
   justify-content: end;
  
}
p{
    color: coral;
    text-align: center;
    padding: 20px;
    
}
h1{
text-align: center;
color: darkorange;

}
img{
    width: 400px;
}